HOST=
PORT=
APP_KEYS=
API_TOKEN_SALT=
ADMIN_JWT_SECRET=
TRANSFER_TOKEN_SALT=
# Database
DATABASE_CLIENT=
DATABASE_FILENAME=
JWT_SECRET=

DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=

MEILI_MASTER_KEY=

STRIPE_SECRET_API_KEY=
STRIPE_API_KEY=

STRAPI_JWT=

STRAPI_URL=
MEILI_URL=

AUTH_EMAIL=
MAIL_FORM=
MAIL_AUTH_PASS=
SMTP_SERVER_ADDR=smtp.gmail.com:587
SMTP_SERVER=smtp.gmail.com
ADMIN_EMAIL=

BUCKET_NAME=
ENDPOINT=
ACCOUNT_ID=
ACCESS_KEY_ID=
ACCESS_KEY_SECRET=
IMAGES_URL=